# More on functions (keyword Arguments)

In [27]:
def func(arr,task):
    # sum,mult,max,min,even,odd
    if task=="sum":
        return sum(arr)
    
    elif task=="mult":
        a=1
        for i in arr:
            a*=i
        return a
    
    elif task=='max':
        return max(arr)
    
    elif task=='min':
        return min(arr)
    
    elif task=='even':
        even=[]
        for a in arr:
            if a%2==0:
                even.append(a)
        return even
    
    elif task=='odd':
        odd=[]
        for a in arr:
            if a%2!=0:
                odd.append(a)
        return odd

In [28]:
func([1,2,3,4,5,6], "sum")

21

In [29]:
func([1,2,3,4,5,6], "mult")

720

In [30]:
func([1,2,3,4,5,6], "even")

[2, 4, 6]

In [31]:
func([1,2,3,4,5,6], "min")

1

In [32]:
func([1,2,3,4,5,6], "odd")

[1, 3, 5]

In [33]:
func([1,2,3,4,5,6], "max")

6

In [34]:
func([2,3,4,5])

TypeError: func() missing 1 required positional argument: 'task'

In [23]:
def func(arr,task=""):
    # sum,mult,max,min,even,odd
    if task=="sum":
        return sum(arr)
    
    elif task=="mult":
        a=1
        for i in arr:
            a*=i
        return a
    
    elif task=='max':
        return max(arr)
    
    elif task=='min':
        return min(arr)
    
    elif task=='even':
        even=[]
        for a in arr:
            if a%2==0:
                even.append(a)
        return even
    
    elif task=='odd':
        odd=[]
        for a in arr:
            if a%2!=0:
                odd.append(a)
        return odd
    
    else: #this loop will run if we do'nt assign task to the array
        return arr

In [24]:
func([1,2,433])

[1, 2, 433]

In [95]:
def func(arr,task=""):
    # sum,mult,max,min,even,odd
    if task=="+":
        return sum(arr)
    
    elif task=="-":
        a=0
        for i in arr:
            a-=i
        return a
    
    elif task=="*":
        a=1
        for i in arr:
            a*=i
        return a
    
    elif task=="/":
        a=1
        for i in arr:
            a/=i
        return a
    
    elif task=='sqr':
        sqr=[]
        for a in arr:
                sqr.append(a**2)
        return sqr
    
    elif task=='cube':
        cube=[]
        for a in arr:
                cube.append(a**3)
        return cube
    
    else: #this loop will run if we do'nt assign task to the array
        return arr

In [96]:
func([2,3,4,5],"*")

120

In [97]:
func([2,3,4,5],"+")

14

In [98]:
func([2,3,4,5],"sqr")

[4, 9, 16, 25]

In [99]:
func([2,3,4,5],"cube")

[8, 27, 64, 125]

In [100]:
func([5,4,3,2,1],"-")

-15

In [101]:
func([5,4,3,2,1],"/")

0.008333333333333333

In [104]:
def a(str(name)):
    return name

SyntaxError: invalid syntax (Temp/ipykernel_12448/796699681.py, line 1)

# Keyword Arguments

In [113]:
def description(name,age,gender,blood_group):
    desc =f"""
            The name of person is {name},
            age is {age},
            gender is {gender},
            and blood group is {blood_group} ."""
    print(desc)

In [114]:
description("Dildar",22,"male","O+")

            The name of person is Dildar,
            age is 22,
            gender is male,
            and blood group is O+ .

In [116]:
description(age=22,name="dildar",blood_group="O+",gender="male")

            The name of person is dildar,
            age is 22,
            gender is male,
            and blood group is O+ .

In [122]:
def std_information(student_name,roll_number,semester,institute):
    info = f"""
            The name of student is {student_name},
            his roll number is {roll_number},
            he is in {semester} semester,
            and he is enrolled in {institute}."""
    print(info)

In [124]:
std_information("Dildar","20202-27142","5th","IoBM")

            The name of student is Dildar,
            his roll number is 20202-27142,
            he is in 5th semester,
            and he is enrolled in IoBM.

# Returning a Dictionary

In [126]:
def build_person(first_name,last_name):
    person={'first':first_name,'last':last_name}
    return person

musician= build_person("Dildar","ALi")
print(musician)

{'first': 'Dildar', 'last': 'ALi'}

In [131]:
def build_person(first_name,last_name,age=""):
    person={'first':first_name,'last':last_name}
    if age:
        person['age']=age
    return person

musician= build_person("Dildar","ALi")
print(musician)

{'first': 'Dildar', 'last': 'ALi'}

In [132]:
def build_person(first_name,last_name,age=""):
    person={'first':first_name,'last':last_name}
    if age:
        person['age']=age
    return person

musician= build_person("Dildar","ALi",22)
print(musician)

{'first': 'Dildar', 'last': 'ALi', 'age': 22}

In [135]:
age="" # it not runs because it has none value assigned in age
if age:
    print("Hello Dildar")

In [136]:
age=22 
if age:
    print("Hello Dildar")

Hello Dildar

In [128]:
def build_person(first_name,last_name):
    #person={'first':first_name,'last':last_name}
    #return person
    print(f"First name is {first_name}, and last name is {last_name}")

musician= build_person("Dildar","ALi")
print(musician)

First name is Dildar, and last name is ALi
None